:root {
  --off-white-txt-color: #f3f3f3;
  --black-txt-color: #000;
  --light-grey-color: #d3d3d3;
  --table-color-bg-even: #eee;
  --table-color-bg-odd: #fff;
  --table-color-bg-hover: #0F2027;
  --table-header-color: #000;
  --highlight-yellow-color: #fff723;
  --header-green-color: #0F2027;
  --header-webkit-color: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  --header-linear-color: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-color {
  background: var(--header-green-color);  /* fallback for old browsers */
  background: var(--header-color); /* Chrome 10-25, Safari 5.1-6 */
  background: var(--header-linear-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.title {
  font-size: 2.6em;
  font-variant: small-caps;
  color: var(--off-white-txt-color);
  padding-left: 3%;
  padding-top: 1%;
  margin: 0;
  height: 65px;
}

.landing-grid {
  background-image: url('./img/Hamilton_-_2016_Monaco_GP_02-white25.jpg');   /* royalty free image search google, downloaded from https://upload.wikimedia.org/wikipedia/commons/2/20/Hamilton_-_2016_Monaco_GP_02.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

button.back {
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  opacity: 0.8;
  padding: 2px 20px 4px 20px;
  font-size: 1.2em;
  font-variant: small-caps;
  color: var(--off-white-txt-color);
  margin: 0 auto;
  margin-bottom: 10%;
}

button.back:hover {
  background-color: black;
  color: var(--off-white-txt-color);
  opacity: 0.6;
}

table {
  width: 85%;
  margin: 6em auto;
  opacity: .8;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

table.t01 tr:nth-child(even) {
  background-color: var(--table-color-bg-even);
}

table.t01 tr:nth-child(odd) {
  background-color: var(--table-color-bg-odd);
}

table.t01 tr:hover {
  background-color: var(--table-color-bg-hover);
  color: var(--off-white-txt-color);
  cursor: pointer;
}

table.t01 th {
  background-color: var(--table-header-color);
  color: var(--off-white-txt-color);
}

table.t01 tr.highlight:hover {
  color: var(--black-txt-color);
  border-left: 2px solid var(--header-green-color);
}

.highlight {
  background-color: var(--highlight-yellow-color) !important;
}
