:root {
  --off-white-txt-color: #f3f3f3;
  --black-txt-color: #000;
  --light-grey-color: #d3d3d3;
  --table-color-bg-even: #eee;
  --table-color-bg-odd: #fff;
  --table-color-bg-hover: #0F2027;
  --table-header-color: #000;
  --header-green-color: #0F2027;
  --highlight-yellow-color: #fff723;
}

.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 2.6em !important;
  font-variant: small-caps;
  color: var(--off-white-txt-color);
  padding-left: 3% !important;
  padding-top: 1% !important;
  margin: 0 !important;
  height: 65px;
}

.landing-grid {
  background-image: url('./img/Hamilton_-_2016_Monaco_GP_02.jpg');   /* royalty free image search google, downloaded from https://upload.wikimedia.org/wikipedia/commons/2/20/Hamilton_-_2016_Monaco_GP_02.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

table {
  width: 85%;
  margin: 18em auto;
  opacity: .9;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

table.t01 tr:nth-child(even) {
  background-color: var(--table-color-bg-even);
}

table.t01 tr:nth-child(odd) {
  background-color: var(--table-color-bg-odd);
}

table.t01 tr:hover {
  background-color: var(--table-color-bg-hover);
  color: var(--off-white-txt-color);
}

table.t01 th {
  background-color: var(--table-header-color);
  color: var(--off-white-txt-color);
}

table.t01 tr.highlight:hover {
  color: var(--light-grey-color);
}

.highlight {
  background-color: var(--highlight-yellow-color) !important;
}
