.App {
  text-align: left;
}

.App h1 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* tr {
  padding: 50px;
} */

.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/20/Hamilton_-_2016_Monaco_GP_02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.race-img {
  width: auto;
  height: 50%;
  border-radius: 15px;
  padding-top: 5em;
  margin: auto;
}

.banner-text {
  background-color: #000;
  opacity: .8;
  width: 35%;
  margin: 7em 6em;
  /* margin: auto; */
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  font-variant: small-caps;
}
/*
.banner-text hr {
  border-top: 5px dotted #fff;
  width: 50%;
  margin: auto;
} */

table {
  color: #000;
  background-color: #000;
  opacity: .9;
  width: 90%;
  height: 200px;
  margin: 10em auto;
  /* padding: 20px; */
  border-radius: 10px;
}
